html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #4F6D7A;
    height: 100%;
    width: 100%;
    margin: 0;
    display:flex;
    flex-direction:row;
}

.nav {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: #787878 1.5px solid;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    color: #EF767A;
}

.nav-icon-title {
    font-size: 1rem;
    margin-top:1.7rem;
    line-height:1.6;
}

.nav-icon-date {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom:1.7rem;
}

.nav-icon {
    font-size: 1rem;
    cursor: pointer;
}


.nav-icon-text {
    margin:0;
}

main {
    width: 100%;
    height: 100%;
    font-weight: 800;
}