.floorplan {
    width:85%;
    height:90%; 
    position:relative; 
    top: 5%;
}

.floorplan-background {
    position:relative; 
    width: 85%; 
    height: 70%; 
    top: 5%; 
    left:8%; 
    background: #D9D9D9; 
    text-align:center; 
    border: #787878 5px solid;
}

.temperatures-container {
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 80%;

}

.temp-label {
    text-align:center;
    font-family: 'Sen', sans-serif;
    color: #EF767A;
    line-height: 2;
    font-weight:800;
}

.temp-number {
    font-family: 'Sen', sans-serif;
    color: #ef767a;
    line-height: 1.6;
    font-weight: 400;
    font-style: italic;
}

button {
    cursor: pointer;
    color: #4F6D7A;
    background-color:#e69fa1;
}

.floorplan-on {
    cursor: pointer;
    opacity: 0;
}