{% load static %}
<p class="month-text">January</p>
<div class="graph-background">
    <span class="material-icons-round back-button">
        arrow_back_ios
    </span>
    <span class="material-icons-round forward-button">
        arrow_forward_ios
    </span> 
    <div class="chart-container">
        <canvas id="myChart"> </canvas>
    </div>       
</div>
<div class="analytics-container">
    <div class="analytics-column">
        <span class="analytics-text">Current Monthly Cost: <span class="units">$</span><span class="analytics-number" id="current-cost"> </span></span>
        <span class="analytics-text">Predicted Monthly Cost: <span class="units">$</span><span class="analytics-number" id="predicted-cost"> </span> </span>
    </div>
    <div class="analytics-column">
        <span class="analytics-text">Current Monthly Power Usage: <span class="analytics-number" id="current-power"> </span> <span class="units">kWatts</span></span>
        <span class="analytics-text">Predicted Monthly Power Usage: <span class="analytics-number" id="predicted-power"> </span> <span class="units">kWatts</span></span>
    </div>
    <div class="analytics-column">
        <span class="analytics-text">Current Monthly Water Usage: <span class="analytics-number" id="current-water"> </span> <span class="units">Gallons</span></span>
        <span class="analytics-text">Predicted Monthly Water Usage: <span class="analytics-number" id="predicted-water"> </span> <span class="units">Gallons</span></span>
    </div>
</div>