{% load static %}
<div class="floorplan-background">
    <img class="floorplan" src="{% static 'HomeDashboard/Floorplan.svg' %}">
    
    <!-- Left Bedroom Light-->
    <div class="floorplan-on" id="BL-CeilingLight" style="position:absolute; left:18.35%; top:23.35%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Lamp-->
    <div class="floorplan-on" id="BL-Lamp" style="position:absolute; left:22.4%; top:8%; width:2.25%; height:5.25%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Left Window -->
    <div class="floorplan-on" id="BL-WindowLeft" style="position:absolute; left:7.38%; top:16%; width:0.5%; height:10.25%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Top Window -->
    <div class="floorplan-on" id="BL-WindowTop" style="position:absolute; left:16.7%; top:5.75%; width:4.6%; height:1%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Door-->
    <div class="floorplan-on" id="BL-Door" style="position:absolute; left:21.85%; top:36.845%; width:3.35%; height:0.35%; border: 1.5px red solid;"></div>

    <!-- Right Bedroom Light-->
    <div class="floorplan-on" id="BR-CeilingLight" style="position:absolute; left: 37.15%; top:23.35%; width:1.95%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Lamp-->
    <div class="floorplan-on" id="BR-Lamp" style="position:absolute; left:42.25%; top:8%; width:2.25%; height:5.25%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Top Window -->
    <div class="floorplan-on" id="BR-WindowTop" style="position:absolute; left:35%; top:5.75%; width:4.6%; height:1%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Right Window -->
    <div class="floorplan-on" id="BR-WindowRight" style="position:absolute; left:45.4%; top:15.75%; width:0.5%; height:10%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Door-->
    <div class="floorplan-on" id="BR-Door" style="position:absolute; left:40.1%; top:36.75%; width:3.35%; height:0.35%; border: 1.5px red solid;"></div>

    <!-- Bathroom Right Window -->
    <div class="floorplan-on" id="Bathroom-WindowRight" style="position:absolute; left:7.38%; top:52.25%; width:0.5%; height:11.4%; border: 1.5px red solid;"></div>
    <!-- Bathroom Light-->
    <div class="floorplan-on" id="Bathroom-Light" style="position:absolute; left:12.3%; top:55.25%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Bathroom Door -->
    <div class="floorplan-on" id="Bathroom-Door" style="position:absolute; left:18.85%; top:52.25%; width:0.2%; height:7.6%; border: 1.5px red solid;"></div>
    <!-- Bathroom Sink-->
    <div class="floorplan-on" id="Bathroom-Sink" style="position:absolute; left:16.14%; top:66%; width:2%; height:3.8%; border: 1.5px red solid;"></div>

    <!-- Entrance Door -->
    <div class="floorplan-on" id="Entrance-Door" style="position:absolute; left:19.4%; top:85.7%; width:7.2%; height:0.35%; border: 1.5px red solid;"></div>
    <!-- Entrance Light -->
    <div class="floorplan-on" id="Entrance-Light" style="position:absolute; left:22%; top:73.75%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Entrance Left Window  -->
    <div class="floorplan-on" id="Entrance-WindowLeft" style="position:absolute; left:18.8%; top:73.2%; width:0.4%; height:9%; border: 1.5px red solid;"></div>

    <!-- LVRoom Light  -->
    <div class="floorplan-on" id="LVRoom-Light" style="position:absolute; left:34.8%; top:49%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- LVRoom Right Lamp -->
    <div class="floorplan-on" id="LVRoom-LampRight" style="position:absolute; left:40.5%; top:64.4%; width:2.3%; height:5%; border: 1.5px red solid;"></div>
    <!-- LVRoom Left Lamp  -->
    <div class="floorplan-on" id="LVRoom-LampLeft" style="position:absolute; left:29.65%; top:64.4%; width:2.3%; height:5.15%; border: 1.5px red solid;"></div>
    <!-- LVRoom TV -->
    <div class="floorplan-on" id="LVRoom-TV" style="position:absolute; left:33.1%; top:83.1%; width:6.45%; height:1.25%; border: 1.5px red solid;"></div>
    <!-- LVRoom Bottom Window  -->
    <div class="floorplan-on" id="LVRoom-WindowBottom" style="position:absolute; left:32.9%; top:85.8%; width:6.9%; height:1%; border: 1.5px red solid;"></div>

    <!-- Kitchen Bottom Window -->
    <div class="floorplan-on" id="Kitchen-WindowBottom" style="position:absolute; left:49.5%; top:85.8%; width:7.05%; height:1%; border: 1.5px red solid;"></div>
    <!-- Kitchen Back Door -->
    <div class="floorplan-on" id="Kitchen-Door" style="position:absolute; left:53.8%; top:36.75%; width:3.7%; height:0.35%; border: 1.5px red solid;"></div>
    <!-- Kitchen Light  -->
    <div class="floorplan-on" id="Kitchen-Light" style="position:absolute; left:49.65%; top:58.25%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Kitchen Sink  -->
    <div class="floorplan-on" id="Kitchen-Sink" style="position:absolute; left:46.5%; top:71.1%; width:2%; height:8.5%; border: 1.5px red solid;"></div>
    <!-- Kitchen Stove  -->
    <div class="floorplan-on" id="Kitchen-Stove" style="position:absolute; left:51.5%; top:79.25%; width:2.75%; height:6.2%; border: 1.5px red solid;"></div>
    <!-- Kitchen Microwave  -->
    <div class="floorplan-on" id="Kitchen-Microwave" style="position:absolute; left:54.75%; top:82.5%; width:1.8%; height:2.8%; border: 1.5px red solid;"></div>
    <!-- Kitchen Toaster  -->
    <div class="floorplan-on" id="Kitchen-Toaster" style="position:absolute; left:57.1%; top:82.75%; width:1.33%; height:2.1%; border: 1.5px red solid;"></div>

    <!-- Hallway Light -->
    <div class="floorplan-on" id="Hallway-Light" style="position:absolute; left:78%; top:42.5%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Washer -->
    <div class="floorplan-on" id="Hallway-Washer" style="position:absolute; left:82.5%; top:38.7%; width:2.7%; height:6%; border: 1.5px red solid;"></div>
    <!-- Dryer -->
    <div class="floorplan-on" id="Hallway-Dryer" style="position:absolute; left:82.5%; top:46.5%; width:2.7%; height:6%; border: 1.5px red solid;"></div>

    <!-- MBedroom Door -->
    <div class="floorplan-on" id="MBedroom-Door" style="position:absolute; left:65.4%; top:36.75%; width:3.7%; height:0.35%; border: 1.5px red solid;"></div>
    <!-- MBedroom Light -->
    <div class="floorplan-on" id="MBedroom-Light" style="position:absolute; left:71.25%; top:19.25%; width:2%; height:3.9%; border: 1.5px red solid;"></div>
    <!-- MBedroom TV -->
    <div class="floorplan-on" id="MBedroom-TV" style="position:absolute; left:65.8%; top:15%; width:1%; height:12.2%; border: 1.5px red solid;"></div>
    <!-- MBedroom Left Window -->
    <div class="floorplan-on" id="MBedroom-WindowLeft" style="position:absolute; left:68.8%; top:5%; width:4.4%; height:0.8%; border: 1.5px red solid;"></div>
    <!-- MBedroom Right Window -->
    <div class="floorplan-on" id="MBedroom-WindowRight" style="position:absolute; left:76.6%; top:5%; width:4.6%; height:0.8%; border: 1.5px red solid;"></div>
    <!-- MBedroom Lamp -->
    <div class="floorplan-on" id="MBedroom-Lamp" style="position:absolute; left:82.4%; top:30.5%; width:2.4%; height:4.9%; border: 1.5px red solid;"></div>

    <!-- Garage House Door -->
    <div class="floorplan-on" id="Garage-HouseDoor" style="position:absolute; left:74.25%; top:53.4%; width:3.7%; height:0.35%; border: 1.5px red solid;"></div>
    <!-- Garage Left Light -->
    <div class="floorplan-on" id="Garage-LightLeft" style="position:absolute; left:69.6%; top:64%; width:2%; height:4.1%; border: 1.5px red solid;"></div>
    <!-- Garage Right Light -->
    <div class="floorplan-on" id="Garage-LightRight" style="position:absolute; left:86.75%; top:64.2%; width:2%; height:3.9%; border: 1.5px red solid;"></div>
    <!-- Garage Left Door -->
    <div class="floorplan-on" id="Garage-DoorLeft" style="position:absolute; left:79.5%; top:76.0%; width:10.5%; height:14.2%; border: 1.5px red solid;"></div>
    <!-- Garage Right Door  -->
    <div class="floorplan-on" id="Garage-DoorRight" style="position:absolute; left:68%; top:76.1%; width:10.5%; height:14.2%; border: 1.5px red solid;"></div>
</div>
<div class="temperatures-container">
    <div style="text-align:center;">
        <span class="temp-label">Indoor<br>Temperature:</span><br><span class="temp-number"><span id="indoor-temp">83</span> °F</span>
    </div>
    <div style="text-align:center;">
        <span class="temp-label">Target Indoor<br>Temperature:</span><br> <button id="minus-button" style="width:50px">-</button> &emsp; <span class="temp-number"><span id="target-temp">89</span> °F</span> &emsp; <button id="plus-button" style="width:50px;">+</button>
    </div>
    <div style="text-align:center;">
        <span class="temp-label">Outdoor<br>Temperature:</span><br><span class="temp-number"><span id="outdoor-temp">92</span> °F</span>
    </div>
</div>