{% load static %}
<div class="floorplan-background">
    <img class="floorplan" src="{% static 'HomeDashboard/Floorplan.svg' %}">
    
    <!-- Left Bedroom Light-->
    <div style="position:absolute; left:18.35%; top:23.35%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Lamp-->
    <div style="position:absolute; left:22.4%; top:8%; width:2.25%; height:5.25%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Left Window -->
    <div style="position:absolute; left:7.38%; top:16%; width:0.5%; height:10.25%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Top Window -->
    <div style="position:absolute; left:16.7%; top:5.75%; width:4.6%; height:1%; border: 1.5px red solid;"></div>
    <!-- Left Bedroom Door-->
    <div style="position:absolute; left:21.85%; top:36.845%; width:3.35%; height:0.35%; border: 1.5px red solid;"></div>

    <!-- Right Bedroom Light-->
    <div style="position:absolute; left: 37.15%; top:23.35%; width:1.95%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Lamp-->
    <div style="position:absolute; left:42.25%; top:8%; width:2.25%; height:5.25%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Top Window -->
    <div style="position:absolute; left:35%; top:5.75%; width:4.6%; height:1%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Right Window -->
    <div style="position:absolute; left:45.4%; top:15.75%; width:0.5%; height:10%; border: 1.5px red solid;"></div>
    <!-- Right Bedroom Door-->
    <div style="position:absolute; left:40.1%; top:36.75%; width:3.35%; height:0.35%; border: 1.5px red solid;"></div>

    <!-- Left Bathroom Right Window -->
    <div style="position:absolute; left:7.38%; top:52.25%; width:0.5%; height:11.4%; border: 1.5px red solid;"></div>
     <!-- Left Bathroom Light-->
     <div style="position:absolute; left:12.3%; top:55.25%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
     <!-- Left Bathroom Door -->
    <div style="position:absolute; left:18.85%; top:52.25%; width:0.2%; height:7.6%; border: 1.5px red solid;"></div>

    <!-- Entrance Door -->
    <div style="position:absolute; left:19.25%; top:85.7%; width:7.2%; height:0.35%; border: 1.5px red solid;"></div>
    <!-- Entrance Light -->
    <div style="position:absolute; left:22%; top:73.75%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- Entrance Left Window  -->
    <div style="position:absolute; left:18.8%; top:73.2%; width:0.4%; height:9%; border: 1.5px red solid;"></div>

    <!-- LVRoom Light  -->
    <div style="position:absolute; left:34.8%; top:49%; width:2%; height:3.8%; border: 1.5px red solid;"></div>
    <!-- LVRoom Right Lamp -->
    <div style="position:absolute; left:40.5%; top:64.4%; width:2.25%; height:5%; border: 1.5px red solid;"></div>
    <!-- LVRoom Left Lamp  -->
    <div style="position:absolute; left:29.65%; top:64.4%; width:2.3%; height:5%; border: 1.5px red solid;"></div>
    <!-- LVRoom TV -->
    <div style="position:absolute; left:33.1%; top:83.1%; width:6.45%; height:1.25%; border: 1.5px red solid;"></div>
    <!-- LVRoom Bottom Window  -->
    <div style="position:absolute; left:32.9%; top:85.8%; width:6.9%; height:1%; border: 1.5px red solid;"></div>

    <!-- Kitchen Bottom Window -->
    <div style="position:absolute; left:50%; top:85.8%; width:6.9%; height:1%; border: 1.5px red solid;"></div>

</div>
<div class="temperatures-container">
    <div style="text-align:center;">
        <span class="temp-label">Indoor<br>Temperature:</span><br><span class="temp-number">83 °F</span>
    </div>
    <div style="text-align:center;">
        <span class="temp-label">Target Indoor<br>Temperature:</span><br> <button style="width:50px"> - </button> &emsp; <span class="temp-number">89 °F</span> &emsp; <button style="width:50px;"> + </button>
    </div>
    <div style="text-align:center;">
        <span class="temp-label">Outdoor<br>Temperature:</span><br><span class="temp-number">92 °F</span>
    </div>
</div>