<div class="settings-container">
    <div class="settings-column simulations">
        <span class="settings-column-header">Simulations</span>
        <div class="buttons-simulations">
            <button class="simulation-1">Front Door Open - 1 Hour</button>
            <button class="simulation-2">TVs On - 2 Hours</button>
            <button class="simulation-3">Shower - 1 Hour</button>
        </div>
    </div>
    <div class="settings-column modes">
        <span class="settings-column-header">Modes</span>
        <div class="buttons-modes">
            <button class="mode-1">Random Dancing</button>
            <button class="mode-2">Lockdown</button>
            <button class="mode-3">Open House</button>
        </div>
    </div>
</div>